-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: bumdes
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `akuns`
--

DROP TABLE IF EXISTS `akuns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `akuns` (
  `akun_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_akun` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_akun` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipe_akun` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_header` tinyint(1) NOT NULL,
  `parent_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`akun_id`),
  UNIQUE KEY `akuns_kode_akun_unique` (`kode_akun`),
  KEY `akuns_parent_id_foreign` (`parent_id`),
  CONSTRAINT `akuns_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `akuns` (`akun_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=320 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `akuns`
--

LOCK TABLES `akuns` WRITE;
/*!40000 ALTER TABLE `akuns` DISABLE KEYS */;
/*!40000 ALTER TABLE `akuns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anggarans`
--

DROP TABLE IF EXISTS `anggarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggarans` (
  `anggaran_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tahun_anggaran` int NOT NULL,
  `bulan_anggaran` int DEFAULT NULL,
  `jumlah_anggaran` decimal(18,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`anggaran_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggarans`
--

LOCK TABLES `anggarans` WRITE;
/*!40000 ALTER TABLE `anggarans` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anggotas`
--

DROP TABLE IF EXISTS `anggotas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggotas` (
  `anggota_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_lengkap` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_telepon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_daftar` date NOT NULL,
  `unit_usaha_id` bigint unsigned DEFAULT NULL,
  `status_anggota` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_kelamin` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_profile_complete` tinyint(1) NOT NULL DEFAULT '0',
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`anggota_id`),
  UNIQUE KEY `anggotas_nik_unique` (`nik`),
  KEY `anggotas_user_id_foreign` (`user_id`),
  KEY `anggotas_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `anggotas_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE,
  CONSTRAINT `anggotas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggotas`
--

LOCK TABLES `anggotas` WRITE;
/*!40000 ALTER TABLE `anggotas` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggotas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `angsurans`
--

DROP TABLE IF EXISTS `angsurans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `angsurans` (
  `angsuran_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pinjaman_id` bigint unsigned NOT NULL,
  `tanggal_pembayaran` date NOT NULL,
  `jumlah_pokok` decimal(18,2) NOT NULL,
  `jumlah_bunga` decimal(18,2) NOT NULL,
  `denda` decimal(18,2) NOT NULL,
  `total_dibayar` decimal(18,2) NOT NULL,
  `jurnal_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`angsuran_id`),
  KEY `angsurans_pinjaman_id_foreign` (`pinjaman_id`),
  KEY `angsurans_jurnal_id_foreign` (`jurnal_id`),
  CONSTRAINT `angsurans_jurnal_id_foreign` FOREIGN KEY (`jurnal_id`) REFERENCES `jurnal_umums` (`jurnal_id`) ON DELETE CASCADE,
  CONSTRAINT `angsurans_pinjaman_id_foreign` FOREIGN KEY (`pinjaman_id`) REFERENCES `pinjamans` (`pinjaman_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `angsurans`
--

LOCK TABLES `angsurans` WRITE;
/*!40000 ALTER TABLE `angsurans` DISABLE KEYS */;
/*!40000 ALTER TABLE `angsurans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aset_bumdes`
--

DROP TABLE IF EXISTS `aset_bumdes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aset_bumdes` (
  `aset_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_aset` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_aset` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_perolehan` date NOT NULL,
  `nilai_perolehan` bigint unsigned NOT NULL,
  `kondisi` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_inventaris` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `metode_penyusutan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `masa_manfaat` int DEFAULT NULL,
  `nilai_saat_ini` bigint DEFAULT NULL,
  `nilai_residu` bigint unsigned DEFAULT NULL,
  `unit_usaha_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`aset_id`),
  UNIQUE KEY `aset_bumdes_nomor_inventaris_unique` (`nomor_inventaris`),
  KEY `aset_bumdes_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `aset_bumdes_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aset_bumdes`
--

LOCK TABLES `aset_bumdes` WRITE;
/*!40000 ALTER TABLE `aset_bumdes` DISABLE KEYS */;
/*!40000 ALTER TABLE `aset_bumdes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beritas`
--

DROP TABLE IF EXISTS `beritas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `beritas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `konten` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `gambar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beritas`
--

LOCK TABLES `beritas` WRITE;
/*!40000 ALTER TABLE `beritas` DISABLE KEYS */;
/*!40000 ALTER TABLE `beritas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bungdeses`
--

DROP TABLE IF EXISTS `bungdeses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bungdeses` (
  `bungdes_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_bumdes` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_berdiri` date DEFAULT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `telepon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `struktur_organisasi` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aset_usaha` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`bungdes_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bungdeses`
--

LOCK TABLES `bungdeses` WRITE;
/*!40000 ALTER TABLE `bungdeses` DISABLE KEYS */;
INSERT INTO `bungdeses` VALUES (1,'BUMDes Maju Bersama','Desa Makmur Jaya, Kecamatan Sejahtera, Kabupaten Gemah Ripah','2018-03-15','BUMDes yang berfokus pada pengembangan ekonomi lokal melalui unit usaha pertanian dan pariwisata.','081234567890','path/to/struktur_organisasi_maju.jpg','path/to/logo_maju.png','Pertanian (sawah, kebun), Homestay, Unit Simpan Pinjam','bumdes_maju@example.com','2025-08-12 19:17:05','2025-08-12 19:17:05');
/*!40000 ALTER TABLE `bungdeses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_jurnals`
--

DROP TABLE IF EXISTS `detail_jurnals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_jurnals` (
  `detail_jurnal_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `jurnal_id` bigint unsigned NOT NULL,
  `akun_id` bigint unsigned NOT NULL,
  `debit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `kredit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`detail_jurnal_id`),
  KEY `detail_jurnals_jurnal_id_foreign` (`jurnal_id`),
  KEY `detail_jurnals_akun_id_foreign` (`akun_id`),
  CONSTRAINT `detail_jurnals_akun_id_foreign` FOREIGN KEY (`akun_id`) REFERENCES `akuns` (`akun_id`) ON DELETE CASCADE,
  CONSTRAINT `detail_jurnals_jurnal_id_foreign` FOREIGN KEY (`jurnal_id`) REFERENCES `jurnal_umums` (`jurnal_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_jurnals`
--

LOCK TABLES `detail_jurnals` WRITE;
/*!40000 ALTER TABLE `detail_jurnals` DISABLE KEYS */;
INSERT INTO `detail_jurnals` VALUES (1,1,5,50000000.00,0.00,NULL),(2,1,109,0.00,50000000.00,NULL),(3,2,22,5000000.00,0.00,NULL),(4,2,81,0.00,5000000.00,NULL),(5,3,4,750000.00,0.00,NULL),(6,3,187,0.00,750000.00,NULL),(7,4,276,1200000.00,0.00,NULL),(8,4,5,0.00,1200000.00,NULL);
/*!40000 ALTER TABLE `detail_jurnals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_pembelians`
--

DROP TABLE IF EXISTS `detail_pembelians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_pembelians` (
  `detail_pembelian_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pembelian_id` bigint unsigned NOT NULL,
  `produk_id` bigint unsigned NOT NULL,
  `jumlah` int NOT NULL,
  `harga_unit` decimal(18,2) NOT NULL,
  `subtotal` decimal(18,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`detail_pembelian_id`),
  KEY `detail_pembelians_pembelian_id_foreign` (`pembelian_id`),
  KEY `detail_pembelians_produk_id_foreign` (`produk_id`),
  CONSTRAINT `detail_pembelians_pembelian_id_foreign` FOREIGN KEY (`pembelian_id`) REFERENCES `pembelians` (`pembelian_id`) ON DELETE CASCADE,
  CONSTRAINT `detail_pembelians_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`produk_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_pembelians`
--

LOCK TABLES `detail_pembelians` WRITE;
/*!40000 ALTER TABLE `detail_pembelians` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_pembelians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_penjualans`
--

DROP TABLE IF EXISTS `detail_penjualans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_penjualans` (
  `detail_penjualan_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `penjualan_id` bigint unsigned NOT NULL,
  `produk_id` bigint unsigned NOT NULL,
  `jumlah` int NOT NULL,
  `harga_unit` decimal(18,2) NOT NULL,
  `subtotal` decimal(18,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`detail_penjualan_id`),
  KEY `detail_penjualans_penjualan_id_foreign` (`penjualan_id`),
  KEY `detail_penjualans_produk_id_foreign` (`produk_id`),
  CONSTRAINT `detail_penjualans_penjualan_id_foreign` FOREIGN KEY (`penjualan_id`) REFERENCES `penjualans` (`penjualan_id`) ON DELETE CASCADE,
  CONSTRAINT `detail_penjualans_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`produk_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_penjualans`
--

LOCK TABLES `detail_penjualans` WRITE;
/*!40000 ALTER TABLE `detail_penjualans` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_penjualans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `homepage_settings`
--

DROP TABLE IF EXISTS `homepage_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `homepage_settings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hero_headline` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hero_tagline` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `hero_background` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profil_image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `homepage_settings`
--

LOCK TABLES `homepage_settings` WRITE;
/*!40000 ALTER TABLE `homepage_settings` DISABLE KEYS */;
INSERT INTO `homepage_settings` VALUES (1,'Selamat Datang di Desa Sukamaju','Mewujudkan Desa yang Mandiri, Sejahtera, dan Berbasis Digital.',NULL,NULL,'2025-08-12 19:17:05','2025-08-12 19:17:05');
/*!40000 ALTER TABLE `homepage_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurnal_umums`
--

DROP TABLE IF EXISTS `jurnal_umums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jurnal_umums` (
  `jurnal_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` date NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `debit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `kredit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `total_debit` decimal(18,2) NOT NULL,
  `total_kredit` decimal(18,2) NOT NULL,
  `status` enum('draft','menunggu','disetujui','ditolak') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu',
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_reason` text COLLATE utf8mb4_unicode_ci,
  `user_id` bigint unsigned NOT NULL,
  `unit_usaha_id` bigint unsigned DEFAULT NULL,
  `metode_transaksi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`jurnal_id`),
  KEY `jurnal_umums_user_id_foreign` (`user_id`),
  KEY `jurnal_umums_unit_usaha_id_foreign` (`unit_usaha_id`),
  KEY `jurnal_umums_approved_by_foreign` (`approved_by`),
  CONSTRAINT `jurnal_umums_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `jurnal_umums_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE SET NULL,
  CONSTRAINT `jurnal_umums_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurnal_umums`
--

LOCK TABLES `jurnal_umums` WRITE;
/*!40000 ALTER TABLE `jurnal_umums` DISABLE KEYS */;
/*!40000 ALTER TABLE `jurnal_umums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_banks`
--

DROP TABLE IF EXISTS `kas_banks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kas_banks` (
  `kas_bank_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_akun_kas_bank` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_rekening` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saldo_saat_ini` decimal(18,2) NOT NULL,
  `akun_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`kas_bank_id`),
  KEY `kas_banks_user_id_foreign` (`user_id`),
  KEY `kas_banks_akun_id_foreign` (`akun_id`),
  CONSTRAINT `kas_banks_akun_id_foreign` FOREIGN KEY (`akun_id`) REFERENCES `akuns` (`akun_id`) ON DELETE CASCADE,
  CONSTRAINT `kas_banks_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_banks`
--

LOCK TABLES `kas_banks` WRITE;
/*!40000 ALTER TABLE `kas_banks` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_banks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategoris`
--

DROP TABLE IF EXISTS `kategoris`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kategoris` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kategoris_nama_kategori_unique` (`nama_kategori`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategoris`
--

LOCK TABLES `kategoris` WRITE;
/*!40000 ALTER TABLE `kategoris` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategoris` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (1,'App\\Models\\User',1),(2,'App\\Models\\User',2),(3,'App\\Models\\User',3),(4,'App\\Models\\User',4),(5,'App\\Models\\User',5),(6,'App\\Models\\User',6),(7,'App\\Models\\User',7);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pemasoks`
--

DROP TABLE IF EXISTS `pemasoks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pemasoks` (
  `pemasok_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_pemasok` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_telepon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`pemasok_id`),
  KEY `pemasoks_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `pemasoks_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pemasoks`
--

LOCK TABLES `pemasoks` WRITE;
/*!40000 ALTER TABLE `pemasoks` DISABLE KEYS */;
/*!40000 ALTER TABLE `pemasoks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembelians`
--

DROP TABLE IF EXISTS `pembelians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembelians` (
  `pembelian_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pemasok_id` bigint unsigned NOT NULL,
  `no_faktur` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_pembelian` date NOT NULL,
  `nominal_pembelian` decimal(18,2) NOT NULL,
  `jurnal_id` bigint unsigned NOT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `status_pembelian` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`pembelian_id`),
  KEY `pembelians_pemasok_id_foreign` (`pemasok_id`),
  KEY `pembelians_jurnal_id_foreign` (`jurnal_id`),
  KEY `pembelians_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `pembelians_jurnal_id_foreign` FOREIGN KEY (`jurnal_id`) REFERENCES `jurnal_umums` (`jurnal_id`) ON DELETE CASCADE,
  CONSTRAINT `pembelians_pemasok_id_foreign` FOREIGN KEY (`pemasok_id`) REFERENCES `pemasoks` (`pemasok_id`) ON DELETE CASCADE,
  CONSTRAINT `pembelians_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelians`
--

LOCK TABLES `pembelians` WRITE;
/*!40000 ALTER TABLE `pembelians` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembelians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualans`
--

DROP TABLE IF EXISTS `penjualans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penjualans` (
  `penjualan_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_invoice` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_penjualan` date NOT NULL,
  `total_penjualan` decimal(18,2) NOT NULL,
  `jurnal_id` bigint unsigned NOT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `nama_pelanggan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_penjualan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`penjualan_id`),
  KEY `penjualans_jurnal_id_foreign` (`jurnal_id`),
  KEY `penjualans_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `penjualans_jurnal_id_foreign` FOREIGN KEY (`jurnal_id`) REFERENCES `jurnal_umums` (`jurnal_id`) ON DELETE CASCADE,
  CONSTRAINT `penjualans_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualans`
--

LOCK TABLES `penjualans` WRITE;
/*!40000 ALTER TABLE `penjualans` DISABLE KEYS */;
/*!40000 ALTER TABLE `penjualans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pinjamans`
--

DROP TABLE IF EXISTS `pinjamans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pinjamans` (
  `pinjaman_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `anggota_id` bigint unsigned NOT NULL,
  `tanggal_pengajuan` date NOT NULL,
  `tanggal_pencairan` date DEFAULT NULL,
  `jumlah_pinjaman` decimal(18,2) NOT NULL,
  `jangka_waktu_bulan` int NOT NULL,
  `suku_bunga_tahunan` decimal(5,2) NOT NULL,
  `total_pembayaran` decimal(18,2) NOT NULL,
  `status_pinjaman` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jurnal_id` bigint unsigned NOT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`pinjaman_id`),
  KEY `pinjamans_anggota_id_foreign` (`anggota_id`),
  KEY `pinjamans_jurnal_id_foreign` (`jurnal_id`),
  KEY `pinjamans_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `pinjamans_anggota_id_foreign` FOREIGN KEY (`anggota_id`) REFERENCES `anggotas` (`anggota_id`) ON DELETE CASCADE,
  CONSTRAINT `pinjamans_jurnal_id_foreign` FOREIGN KEY (`jurnal_id`) REFERENCES `jurnal_umums` (`jurnal_id`) ON DELETE CASCADE,
  CONSTRAINT `pinjamans_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pinjamans`
--

LOCK TABLES `pinjamans` WRITE;
/*!40000 ALTER TABLE `pinjamans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pinjamans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `potensis`
--

DROP TABLE IF EXISTS `potensis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `potensis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `gambar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `potensis`
--

LOCK TABLES `potensis` WRITE;
/*!40000 ALTER TABLE `potensis` DISABLE KEYS */;
/*!40000 ALTER TABLE `potensis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produks`
--

DROP TABLE IF EXISTS `produks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produks` (
  `produk_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_produk` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi_produk` text COLLATE utf8mb4_unicode_ci,
  `harga_beli` decimal(18,2) NOT NULL,
  `harga_jual` decimal(18,2) NOT NULL,
  `satuan_unit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `stok_minimum` int NOT NULL DEFAULT '0',
  `kategori_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`produk_id`),
  KEY `produks_kategori_id_foreign` (`kategori_id`),
  KEY `produks_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `produks_kategori_id_foreign` FOREIGN KEY (`kategori_id`) REFERENCES `kategoris` (`id`) ON DELETE SET NULL,
  CONSTRAINT `produks_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produks`
--

LOCK TABLES `produks` WRITE;
/*!40000 ALTER TABLE `produks` DISABLE KEYS */;
/*!40000 ALTER TABLE `produks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profils`
--

DROP TABLE IF EXISTS `profils`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profils` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_desa` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah_penduduk` int NOT NULL,
  `jumlah_kk` int NOT NULL,
  `luas_wilayah` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telepon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profils`
--

LOCK TABLES `profils` WRITE;
/*!40000 ALTER TABLE `profils` DISABLE KEYS */;
INSERT INTO `profils` VALUES (1,'Desa Sukamaju',NULL,'Desa Sukamaju merupakan sebuah desa asri yang terletak di kaki gunung, dikelilingi oleh hamparan sawah hijau yang subur. Dengan visi untuk menjadi desa digital yang mandiri, kami terus berinovasi dalam pelayanan publik dan pengembangan potensi lokal.',3500,1200,'500 Ha','Jalan Raya Sejahtera No. 1, Kecamatan Makmur, Kabupaten Sentosa, 54321.','kontak@sukamaju.desa.id','(021) 123-456','2025-08-12 19:17:05','2025-08-12 19:17:05');
/*!40000 ALTER TABLE `profils` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
INSERT INTO `role_has_permissions` VALUES (7,1),(1,2),(2,2),(3,2),(4,2),(8,2),(7,3),(3,4),(5,4),(7,4),(5,5),(6,5),(7,5),(7,6),(3,7),(5,7),(7,7);
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'direktur_bumdes','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(2,'admin_bumdes','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(3,'sekretaris_bumdes','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(4,'manajer_unit_usaha','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(5,'bendahara_bumdes','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(6,'kepala_desa','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(7,'admin_unit_usaha','web','2025-08-12 19:17:01','2025-08-12 19:17:01'),(8,'anggota','web','2025-08-12 19:17:01','2025-08-12 19:17:01');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `social_links`
--

DROP TABLE IF EXISTS `social_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `social_links` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `platform` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `icon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `social_links`
--

LOCK TABLES `social_links` WRITE;
/*!40000 ALTER TABLE `social_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `social_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stok`
--

DROP TABLE IF EXISTS `stok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stok` (
  `stok_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `produk_id` bigint unsigned NOT NULL,
  `unit_usaha_id` bigint unsigned NOT NULL,
  `jumlah_stok` int NOT NULL,
  `tanggal_perbarui` datetime NOT NULL,
  `lokasi_penyimpanan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`stok_id`),
  KEY `stok_produk_id_foreign` (`produk_id`),
  KEY `stok_unit_usaha_id_foreign` (`unit_usaha_id`),
  CONSTRAINT `stok_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`produk_id`) ON DELETE CASCADE,
  CONSTRAINT `stok_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stok`
--

LOCK TABLES `stok` WRITE;
/*!40000 ALTER TABLE `stok` DISABLE KEYS */;
/*!40000 ALTER TABLE `stok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_kas_banks`
--

DROP TABLE IF EXISTS `transaksi_kas_banks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi_kas_banks` (
  `transaksi_kas_bank_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kas_bank_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `detail_jurnal_id` bigint unsigned DEFAULT NULL,
  `tanggal_transaksi` datetime NOT NULL,
  `metode_transaksi` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jumlah_debit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `jumlah_kredit` decimal(18,2) NOT NULL DEFAULT '0.00',
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`transaksi_kas_bank_id`),
  KEY `transaksi_kas_banks_kas_bank_id_foreign` (`kas_bank_id`),
  KEY `transaksi_kas_banks_user_id_foreign` (`user_id`),
  CONSTRAINT `transaksi_kas_banks_kas_bank_id_foreign` FOREIGN KEY (`kas_bank_id`) REFERENCES `kas_banks` (`kas_bank_id`) ON DELETE CASCADE,
  CONSTRAINT `transaksi_kas_banks_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_kas_banks`
--

LOCK TABLES `transaksi_kas_banks` WRITE;
/*!40000 ALTER TABLE `transaksi_kas_banks` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_kas_banks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_usaha_user`
--

DROP TABLE IF EXISTS `unit_usaha_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_usaha_user` (
  `unit_usaha_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`unit_usaha_id`,`user_id`),
  KEY `unit_usaha_user_user_id_foreign` (`user_id`),
  CONSTRAINT `unit_usaha_user_unit_usaha_id_foreign` FOREIGN KEY (`unit_usaha_id`) REFERENCES `unit_usahas` (`unit_usaha_id`) ON DELETE CASCADE,
  CONSTRAINT `unit_usaha_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_usaha_user`
--

LOCK TABLES `unit_usaha_user` WRITE;
/*!40000 ALTER TABLE `unit_usaha_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `unit_usaha_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_usahas`
--

DROP TABLE IF EXISTS `unit_usahas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_usahas` (
  `unit_usaha_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_unit` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_usaha` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_mulai_operasi` date DEFAULT NULL,
  `status_operasi` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`unit_usaha_id`),
  KEY `unit_usahas_user_id_foreign` (`user_id`),
  CONSTRAINT `unit_usahas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_usahas`
--

LOCK TABLES `unit_usahas` WRITE;
/*!40000 ALTER TABLE `unit_usahas` DISABLE KEYS */;
INSERT INTO `unit_usahas` VALUES (1,'Toko BUMDes','Perdagangan','2022-01-15','Aktif','2025-08-12 19:17:04','2025-08-12 19:17:04',7),(2,'Wisata Desa','Pariwisata','2024-05-20','Aktif','2025-08-12 19:17:04','2025-08-12 19:17:04',4);
/*!40000 ALTER TABLE `unit_usahas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `last_login` datetime DEFAULT NULL,
  `is_profile_complete` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_username_unique` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-13 13:09:21
